$black: #000000;
$dark: #24292f;
$gray: #57606a;
$blue: #0969da;
$green: #1a7f37;
$gray-light: #d0d7de;
$light: #f6f8fa;
$white: #ffffff;

$font-size-base: 16px;

$screen-desktop: '(min-width: 1280px)';
